@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html {
    scroll-behavior: smooth;
}

.navbar {
    background: rgba(82, 5, 97, 0.4) !important;
}

.navbar .navbar-brand {
    font-weight: bolder;
    color: #cdcdcd;
    font-size: 1.3em;
    margin-left: 5%;
}

.navbar-text {
    font-family: 'Gabriela', serif;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.navbar-text:hover {
    color: #ffffff;
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-item {
    margin-left: 30px;
}

#find {
    font-family: 'Gabriela', serif;
    font-weight: 700;
    color: #cdcdcd;
    border: solid #ffffff;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 100px;
}

#find:hover {
    color: #ffffff;
    background: rgba(31, 181, 40, 0.5)
}

.navbar .nav-item a {
    font-family: 'Gabriela', serif;
    font-weight: 700;
    color: #cdcdcd;
    font-weight: bolder;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.nav-item:hover a {
    color: #ffffff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.logo img {
    margin-left: auto;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.logo:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}