/* LANDING PAGE */
.carousel-item .view{ /* style all carousel images */
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-item .landing1{
    background-image: url("../images/lorna/wedding.jpg");
}
.carousel-item .landing2{
    background-image: url("../images/lorna/babyshower4.png");
}
.carousel-item .landing3{
    background-image: url("../images/lorna/birthday5.jpg");
}
.carousel-item .landing4{
    background-image: url("../images/lorna/woman-throwing-confetti-1139317.jpg");
}
.carousel-inner h1{ /* styling the catch phrase */
    font-family: 'Noto Serif', serif;
    padding-top: 50%;
    font-weight: bold;
    line-height: 65px;
    font-size: 50px;
    text-align: center;
}
/*LANDING PAGE */

/* FIND A PHOTOGRAPHER */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
/* FIND A PHOTOGRAPHER */

/*ABOUT US */
#about {
    width:100%;
    height:600px;
    background-image: url('../images/stacy/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.centered {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    font-size:medium;
}
h3 {
    text-align: center;
}
/* ABOUT US */

/* LIST */
.content{ /*position form in page*/
  padding: 5%;
}
.container{
  padding: 0;
}
.border{ /*round border edges*/
  border-radius: 10px;
}
.jumbotron{ /*style jumbotron*/
  text-align: center;
  padding:0;
  padding-bottom: 4%;
  background-color: white;
}
.row{
  margin: 0;
}
.col-md-6{
  padding: 0;
}
.jumbotron .header{
  padding-left: 0;
  color: white;
}
.jumbotron h5{
  width: 100%;
  padding: 5%;
  font-size: 75px;
  font-family: 'Playfair Display', serif;
  border-radius: 10px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
div.fullstop{ /*make fullstop bigger than the rest of the text*/
  display: inline;
  font-size: 100px;
}
.col-md-8{
  padding: 2%;
}
.custom-control{
  text-align: left;
}
.mb-5{
  margin-bottom:0 !important;
}
.btn-outline-default{
  background:transparent;
  border-color:#fd1d1d;
  color: #fd1d1d;
}
#photogProfile{
  display: none;
}
input#listImage{ /*styling image input box*/
  text-align: left;
  display: block;
  padding: 0;
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* LIST */





